<div class="sidebar">
  <ul class="sidebar-links">
    <li>
      <div class="sidebar-group">
        <strong class="sidebar-heading open">
          <a href="https://wiki.hotwallet.tech/" class="sidebar-link">Home</a>
        </strong>
      </div>
    <li>
      <div class="sidebar-group">
        <strong class="sidebar-heading open">Dev Docs</strong>
        <ul class="sidebar-group-items">
          <li>
            <a href="https://dev.hotwallet.tech/" class="sidebar-link">`housetokend` API</a>
          </li>
          <li>
            <a href="https://dev.hotwallet.tech/dev-tools-dev-tools.html" class="sidebar-link">Dev Tools</a>
          </li>
        </ul>
      </div>
    <li>
      {% assign folders = site.collections | sort: 'order' %}
      {% for folder in folders %}
        {% if folder.label != "posts" %}
      <div class="sidebar-group">
        <strong class="sidebar-heading open">{{ folder.title }}</strong>
        <ul class="sidebar-group-items">
          {% assign docs = folder.docs | sort: 'chapter' %}
          {% for doc in docs %}
          <li>
            <a href="{{doc.url}}" class="sidebar-link{% if page.url == doc.url %} active{% endif %}">{{ doc.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
        {% endif %}
      {% endfor %}
    <li>
  </ul>
</div>
<div class="sidebar-mask"></div>
