$base-url: '/assets/';
$color1: #00a99d;

html,
body {
  padding: 0; margin: 0;
}
html {overflow-y: scroll;}
body {
  font-size: 16px; color: #2c3e50;
  font-family: 'PingFang SC', 'Roboto', 'Helvetica Neue', sans-serif;
}

.can-hide {display: none;}
i.i {display: inline-block;width:1em;height:1em;background: no-repeat center;transition: all .2s;}

@import 'reset.scss';
@import 'layout.scss';
// Views
@import 'home.scss';
// Components
@import 'sidebar.scss';
@import 'search-box.scss';
//
@import 'nav.scss';
@import 'page.scss';
@import 'code.scss';
